@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    @apply min-h-full;
  }

  body {
    @apply m-0 bg-slate-50 text-slate-800 antialiased;
    background-image: radial-gradient(circle at 10% 10%, #dff4ff 0, transparent 35%),
      radial-gradient(circle at 80% 0%, #eefadf 0, transparent 30%);
  }
}
